
.canvas{
  /* background-color: #74c176; */
  padding: 0;
  margin: auto;
  display: block;
  background-image: url('pitch.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.score{
  position: absolute;
  top: 10;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  font-weight: bold;
  font-family: helvetica;
  text-align: center;
}
