.cheapter
{
    font-size: 14px !important;
}
.bg_raw
{
    background: #fff;
    border:1px solid #000;
    margin-bottom: 20px;
}
.content_raw
{
    padding: 20px;
    font-family: 'Arial';
    color:#fff;
    font-style: italic;
}

.bg_code
{
    overflow: hidden;
    margin:20px 0;
    position: relative;
    background: #363636;
    -webkit-box-shadow: 0px 0px 61px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 61px -13px rgba(0,0,0,0.75);
box-shadow: 0px 0px 61px -13px rgba(0,0,0,0.75);
}

.content_code
{
    font-size: 15px;
    padding: 20px;
    text-align: left;
    font-family: 'Arial';
    color:#fff;
    font-style: italic;
}

.c_item
{
    margin-top: 20px;
}
.z
{
    color:#f67a00;
}
.c
{
    color:#0fafeb;
}
.w
{
    color:#7ef808;
}
.k
{
    color:#aea8a8;
}

.spaner
{
    position: absolute;
    top:0;
    background: #000;
    font-size: 15px;
    color:#fff;
    width:45px;
    font-family: 'proxima';
    height: 15px;
    text-align: center;
    line-height: 15px;
}
.copy
{
    position: absolute;
    top:0;
    right: 0;
    background: #000;
    font-size: 15px;
    color:#fff;
    width:65px;
    font-family: 'proxima';
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-bottom-left-radius: 20px;
    cursor:pointer;
}

@media(max-width: 550px)
{
    .c_item
    {
        font-size:11px;
    }
}