body{
  display:flex;
  align-items: center;
}
.container{

  justify-content: center;
  flex-wrap:wrap;
}
.homeContent .row{
  height:400px;

}
.rowSecH{
  height:200px;
}
.colFont{
  font-size:32px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color:white;
}
.a{
  background:yellow;
}
.b{
  background:aqua;
}
.c{
  background:black;
}
.d{
  background:orange;
}
.e{
  background:silver;
}
.f{
  background:blue;
}
.g{
  background:red;
}
