body{
  background:#110f0f;
  color:#A0A0A0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.headBg{
    background: #000;
}
.headBg:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background-image: url('img/header.jpg');
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.headText{
  display: flex;
  justify-content: center;
  bottom:100px;
  position:relative;
  z-index:10;
  font-size:96px;
  color:white;
  font-weight: bold;

}
.headText > span::first-letter{
  font-size:150%;
  background:#800000;

}
.headTextSec{
  display: flex;
  justify-content: center;
  position:relative;
  z-index:10;
  font-size:32px;
  color:white;
  letter-spacing:3px;

}

.hello{
  height:30vh;
}
.hello .welcome{
  font-size:54px;
  text-align: center;
  display:flex;
  justify-content:center;
  padding:1rem;
}
.hello > hr{
  border: 0;
   height: 1px;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
   border-color: white;
}
.hello > p{
  padding:2rem;
  font-size:16px;
  text-align:center;
}
.secSectionContent{
  display:flex;
  flex-wrap:wrap;
  align-items: stretch;
  flex:1;
  height:100%;

}

.secSectionContent img{
  border-radius:50%;
  width:15rem;
  box-shadow:0px 0px 1px #A0A0A0;
  transition: all .5s ease-in-out;

}
.secSectionContent img:hover{
  transform: scale(0.9);
}
.secSectionContent span{
  font-size:20px;
  padding: 1rem;
  margin-top:1rem;

}

.secSection{
  display:flex !important;
  /*flex-flow: row wrap;*/

}

.secSectionImg{
  height: 100vh;
  /*background: white;*/
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.secSectionTxt{
  text-align: center;
  font-size:14px;
  line-height: 2;
}

.projekt{
  flex:1;
  padding:20px;
}
.lakier{
  flex:1;
  padding:20px;
}
.wyprawki{
  flex:1;
  padding:20px;
}

.projektTitle{
  /*background:red;*/
  height:50%;
  display: flex;
  justify-content: center;
}

.sliderContent{

}
.leftBar{
  height:100vh;
  width:30vw;
  background:#424242;
  float:left;
}
.leftBar > h3{
  padding:30px;
  font-size:40px;
}
.leftBar > hr{
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.leftBar > p{
  padding:20px;
  text-align: justify;
}
.photos{
  height:100%;
  display:flex;
  align-items: center;
}
.photosTest{
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  align-items:center;
  max-height: 100vh;
  justify-content: center;
}
.photos img{
  margin:2px;
  max-width:30vw;
  height:30vh;
}
.footer{
  display:flex !important;
  flex-flow:row wrap;

}
.footerL{
  width:50%;
  height: 100%;
  background:red;
  flex:1;
  float:left;
}
.footerR{
  width:50%;
  height: 100%;
  background:blue;
  flex:1;
  float:left;
}

.menu{
  display: flex;
  flex-direction: column;
  position:fixed;
  margin:0;
  padding:0;
  left:10px;

  list-style-type: none;
  z-index:70;
}
.testmenu{

  border-radius:50%;
  height:30px;
  width:30px;
  background-color:red;
}
.testMenu1{

}
.testList{
  margin-bottom:5px;
}
@media screen and (max-width:600px){
  .secSectionContent img{
    width:10rem;
    margin-top:1rem;
  }
}
